@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Equação de 2º Grau</h1>
    <img src="~/img/formula.jpeg"
         alt="Imagem da fórmula resolvente" 
         width = "200"
         style=""
    />
</div>

<form class="text-center">
    <p>Parâmetros da equação 2º grau</p>
    <div>
        <p>A:<input type="text" id="A" name="A"/><br></p>
        <p>B:<input type="text" id="B" name="B"/><br></p>
        <p>C:<input type="text" id="C" name="C"/><br></p>
    </div>
    <input type="submit" value="Calcular"/>
</form>


@if (ViewBag.ErroA != null)
{
    <h3 class="text-center" style="color: red;">@ViewBag.ErroA</h3>
}
@if (ViewBag.ErroB != null)
{
    <h3 class="text-center" style="color: red;">@ViewBag.ErroB</h3>
}
@if (ViewBag.ErroC != null)
{
    <h3 class="text-center" style="color: red;">@ViewBag.ErroC</h3>
}

@if (ViewBag.ErroAe0 != null)
{
    <h3 class="text-center" style="color: red;">@ViewBag.ErroAe0</h3>

}
@*
Os comentários em CSHMTL tem que ser assim, quem faz isto ser um comentário é o Motor Razor
<input type="text" id="A" name="A"/><br>
id -> Identifica a 'textbox' no Client
name -> Identifica a 'textbox' no Server
*@

@*resposta do controller*@
@if (ViewBag.x1 != null && ViewBag.x2 != null) {
    <div class="text-center">
        <p>
            Resultado X1 = @ViewBag.x1 <br>
            Resultado X2 = @ViewBag.x2
        </p>
    </div>
}